

/* main section*/

.image-wrap {
	padding-left: 55px;
	padding-top: 18px;
	float: left;
	padding-right: 24px;
	display: block;
}

.avatar-box {
	width: 140px;
	height: 140px;
	overflow: hidden;

	border-radius: 50%;
	border: #3ba8c0 solid 5px;
	display: block;

}

.infobox-label {
	display: inline-block;
	float: left;
	font-family: 'fira_sansmedium';
	padding-right: 17px;
}

.infobox-data {
	display: inline-block;
	float: left;
	
	font-family: 'fira_sansbook';
	font-size: 15px;
}


.infobox-main-list {
	padding: 0;
	margin: 0;
	line-height: 33px;
}

.infobox-main-dd {
	font-family: 'fira_sansbook';
	font-size: 15px;
}


.infobox-main-item {
	
}

.skills {

  
}

.skills-list {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
	max-width: 230px;
	


}
.skill-item{
	display: inline-block;
	
	margin-right: 5px;
	display: inline-block;
	background:#3ba8c0; /* Old browsers */
	background: -moz-linear-gradient(top,  #3ba8c0 0%, #3ba8c0 49%, #2e8ca2 50%, #2e8ca2 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3ba8c0), color-stop(49%,#3ba8c0), color-stop(50%,#2e8ca2), color-stop(99%,#2e8ca2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3ba8c0 0%,#3ba8c0 49%,#2e8ca2 50%,#2e8ca2 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3ba8c0 0%,#3ba8c0 49%,#2e8ca2 50%,#2e8ca2 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3ba8c0 0%,#3ba8c0 49%,#2e8ca2 50%,#2e8ca2 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #3ba8c0 0%,#3ba8c0 49%,#2e8ca2 50%,#2e8ca2 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ba8c0', endColorstr='#2e8ca2',GradientType=0 ); /* IE6-9 */
	border-radius: 2px;
	color: #ffffff;
	font-size: 14px;
	font-family: 'proxima_nova_condensedSBd';
	padding: 0 16px;
	line-height: 19px;
	vertical-align: middle;
	float: left;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 5px;
}

.icon {
	height: 51px;
	margin-left: 58px;
	margin-right: 15px;
}

.icon-work {
	position: relative;
	top: 10px;
}



.work-list {
	margin-top: 10px;
}

.work-item {
	margin-left: 58px;
	margin-bottom: 22px;
	background: url(../img/suitcase.png)  no-repeat;
}


.study-item {
	margin-left: 54px;
	margin-right: 2px; 
	margin-bottom: 22px;
	background: url(../img/hat.png)  no-repeat;
}

.course-item {
	margin-left: 64px;
	
	margin-bottom: 22px;
	background: url(../img/doc.png)  no-repeat;
}

.work-place {

	font-family: 'fira_sansbook';
	font-size: 17px;
	display: block;
	padding-left: 70px;
	line-height: 1;
	padding-bottom: 4px;
}

.work-period {
	font-family: 'fira_sanslight';
	font-size: 15px;
	line-height: 1;
	display: block;
	padding-left: 70px;
}

.study-place {

	font-family: 'fira_sansbook';
	font-size: 17px;
	display: block;
	padding-left: 60px;
	line-height: 1;
	padding-bottom: 4px;
}

.study-period {
	font-family: 'fira_sanslight';
	font-size: 15px;
	line-height: 1;
	display: block;
	padding-left: 60px;
}
/* main section*/


