body {
	font-family: 'Open Sans', verdana, sans-serif;
	font-size: 20px;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}

.logo-img {
	height:43px;
	width:242px;
}

