html, body {
	height: 100%;
}
body {
	font-family: fira_sansregular;
	font-size: 20px;
	background: url(../img/background.jpg) repeat;
	/*font: normal "Fira_sanslight" 1em;*/
	font: normal arial 1em;
	color: #4a545d;
	margin: 0;
	padding: 0;

}

menu, ol, dd, h1, h2, h3 {
    padding: 0;
    margin: 0;
}

ul {
	list-style: none;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}


.container-page {
	min-width: 960px;
	height: 100%;
	margin: 0 auto;
	display: block;
}

/* header */
.page-header {
	height: 119px;
	background-color: #eff3f7;
	position: relative;
	margin-bottom: 39px;
}

.page-header:after {
	content: " ";
	display: block;
	height: 3px;
	background-image: linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
	background-image: -moz-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
	position: absolute;
	top: 116px;
	width: 100%;
 
}

.page-header .header-logo-text {
	position: absolute;
	left: -9999px;
}
.page-header .header-logo-link {
	position: relative;
	top: 39px;
	left: 0px;
}

.header-socials {
	float: right;
	height: 84px;
	padding-top: 35px;

}

.container-header {
	min-width: 960px;
	max-width: 1200px;
	margin: 0 auto;
	
}

.container-main-content {
	max-width: 960px;
	margin: 0 auto;
	display: block;
}

/* header end*/

/* socials */
.socials-list {
	list-style: none;
	margin: 0 0 0 -17px;
	padding 0 0 0 0;
	
}

.social-item {
	display: inline-block;
	text-indent: -9999px;
	margin-left: 19px;
}


/* sidebar */

.sidebar {
	width: 250px;
	float: left;
	margin-right: 60px;
}

/* sidebar nav*/
.nav {
	background-color: #eff3f7;
	border-radius: 4px;
	overflow: hidden;
	margin-bottom: 29px;
}

.nav-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav-li {
	border-top: 2px solid #3ba8c0;
	margin: 0 11px;
	font-size: 21px;
	line-height: 25px;
	display: block;
	width: 217px;
	padding-left: 11px;
}

.nav-li-active, .nav-li:hover {
	background-color: #3ba8c0;
	margin: 0 0;
	padding: 0 0;
	border-bottom: 2px solid #3ba8c0;
	margin-bottom: -2px;
	font-size: 23px;
	line-height: 25px;
	padding-left: 22px;
	width: 228px;
}

.nav-link {
	text-decoration: none;
	display: block;
	padding: 22px 0px;
}

.nav-link-contacts {
	color: #959aa8;
}

.nav-link-works {
	color: #3ba8c0;
}

.nav-link-active {
	color: #ffffff;
}

/* sidebar nav end*/

/* sidebar contacts*/
.contacts {
	display: block;
	background-color: lightgrey;
	border-radius: 4px;
	font-style: normal;
	margin: 0 0 26px 0;
	list-style: none;
	width: 250px;
	overflow: hidden;
}
.contacts-header {
	font-size: 21px;
	line-height: 21px;
	padding-top: 10px;
	padding-left: 20px;
	background-color:#3ba8c0;
	height: 31px;
}

.header-inner-text {
	color: #fbfcfd;
}

.contacts-list  {
	margin: 0;
	padding: 0;
}

.contacts-list-item  {
	font-size: 15px;
	line-height: 40px;
	height: 40px;
	display: block;
}

.contacts-link {
	text-decoration: none;
	margin-left: 25px;
	color: #fbfcfd;
}


.contacts-link:hover {
	text-decoration: underline;
}

.contacts-email { /* have to move to sprite */
	background: url(../img/email.png) no-repeat; 
	background-color: #41b9d4;
	background-position: 41px 10px;
    padding-left: 47px; 
}

.contacts-phone { /* have to move to sprite */
	background: url(../img/phone.png) no-repeat; 
	background-color: #48cbe8;
	background-position: 41px 9px;
    padding-left: 47px; 
}

.contacts-skype { /* have to move to sprite */
	background: url(../img/skype.png) no-repeat; 
	background-color: #51daf8;
	background-position: 41px 10px;
    padding-left: 47px; 
}

/* sidebar contacts end*/

/* sidebar end*/




/* footer */
.page-footer {
	display: block;
	clear: both;
	background-color: #eff3f7;
}
.page-footer:before {
	content: " ";
	display: block;
	height: 3px;
	background-image: linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
	background-image: -moz-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
	background-image: -webkit-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
	background-image: -ms-linear-gradient( 0deg, rgb(28,102,122) 0%, rgb(246,250,254) 0%, rgb(216,216,216) 0%, rgb(242,246,250) 0%, rgb(135,174,186) 28%, rgb(28,102,122) 48%, rgb(135,174,186) 71%, rgb(242,246,250) 100%);
	
 
}

/* прибьём футер к низу*/
.wrapper{
	position: relative;
	min-height: 100%;
	min-width: 970px; /* обязательно указать минимальную ширину примерно на 10 пикселей шире контейнера*/
	height: auto!important;
	overflow: hidden;
}
.wrapper:after {
	content: "";
	height: 80px;
	display: block;
}
.page-footer{
	height: 80px;
	margin-top: -80px;

}

.footer-content {
	max-width: 960px;
	margin: 0 auto;
}
.lock-inner-text {
	position: absolute;
	left: -9999px;
}

.footer-copyright {
	display: block;
	float: left;
	font-family: 'fira_sanslight';
	font-size: 13px;
}

.icon-lock {
	position: relative;
	top: 18px;
	margin: 0 30px;
}

.footer-copyright {
	text-align: center;
	margin: 0 140px;
	width: 880px;
}

/* прибьём футер к низу - конец*/