.project-image-mini-warp {
	
	
}

.project-image-mini {
	width: 179px;
	height: 125px;
	border-radius: 5px;
	border: solid 2px #3ba8c0;
	overflow: hidden;
	display: block;
	margin-bottom: 6px;
}

.new-project {
	
	border: dashed 2px #3ba8c0;
	background-color: #edf8fc;

}

.new-project-img {
	display: block;
	margin-top: 33px;
	margin-left: 40px;
	
}

.projects {
	padding: 10px 0px 0px 20px;
	display: block;

}

.project {
	padding-top: 0;
	width: 183px;
	float: left;
	margin-right: 30px;
	margin-bottom: 42px;
}

.project-last {
	margin-right: 0;
	
}

.project-address {
	font-family: 'fira_sanslight_italic';
	font-size: 13px;
	color: #3ba8c0;
	display: block;
	text-align: center;
	margin-bottom: 7px;
}

.project-description {
	font-family: 'fira_sanslight';
	font-size: 15px;
	color: #4a545d;
	display: block;
	text-align: center;
	line-height: 1.2;
}

.project-ref {
   text-decoration: none;
}
